[submodule "kubernetes/vagrant"]
	path = kubernetes/vagrant
	url = git@github.com:pires/kubernetes-vagrant-coreos-cluster.git
[submodule "kubernetes/src"]
	path = kubernetes/src
	url = https://github.com/GoogleCloudPlatform/kubernetes.git
[submodule "vamp/docker"]
	path = vamp/docker
	url = https://github.com/magneticio/vamp-docker.git
[submodule "vamp/ui"]
	path = vamp/ui
	url = git@github.com:magneticio/vamp-ui.git
[submodule "vamp/example"]
	path = vamp/example
	url = git@github.com:magneticio/sava.git
