[submodule "kubernetes/vagrant"]
	path = kubernetes/vagrant
	url = git@github.com:pires/kubernetes-vagrant-coreos-cluster.git
[submodule "kubernetes/src"]
	path = kubernetes/src
	url = https://github.com/GoogleCloudPlatform/kubernetes.git
[submodule "vamp/docker"]
	path = vamp/docker
	url = https://github.com/magneticio/vamp-docker.git
