<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mongoTemplate"
          class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="${mongo.db}"/>
    </bean>


    <bean name="fongo" class="com.github.fakemongo.Fongo">
        <constructor-arg value="pizza"/>
    </bean>

    <bean id="mongo" class="com.mongodb.Mongo" factory-bean="fongo" factory-method="getMongo"/>

</beans>