Source: pizza-dataloader
Section: web
Priority: optional
Version: [[version]]
Maintainer: Bernd Zuther <bernd.zuther@me.com>
Homepage: http://www.bernd-zuther.de/
Vcs-Git: https://github.com/zutherb/AppStash.git
Vcs-Browser: https://github.com/zutherb/AppStash
Package: pizza-dataloader
Architecture: amd64
Depends: mongodb
Description: Pizza Dataloader