<h2>Shopping Cart</h2>

<div class="well">
    <table class="table table-striped" ng-controller="BasketController">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right;">Price</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="basketItem in vm.basketItems track by basketItem.uuid">
                <td>{{basketItem.product.name}}</td>
                <td style="text-align: right;">{{basketItem.product.price | currency}}</td>
                <td style="text-align: right;">
                    <a class="btn btn-danger" ng-click="vm.remove(basketItem.uuid)" id="{{basketItem.uuid}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Subtotal</td>
                <td style="text-align: right;" colspan="2">
                    {{vm.getTotalSum() | currency}}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="./checkout" class="btn btn-primary">Proceed to Checkout</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>