<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.comsysto.dataloader" />


    <!-- required for accessing pictures from mongo DB -->
    <bean id="gridFS" class="com.mongodb.gridfs.GridFS">
        <constructor-arg name="db">
            <bean factory-bean="mongoTemplate" factory-method="getDb"/>
        </constructor-arg>
    </bean>
</beans>