<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="defaultValues" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="authentication.salt">4e6ab01864d726077691caa0d19a2d3f</prop>
                <prop key="generator.generate.orders">10000</prop>
                <prop key="generator.drop.collections">0</prop>
                <prop key="generator.generationJob.rate">0</prop>
                <prop key="mongo.db">shop</prop>
                <prop key="mongo.host">localhost</prop>
                <prop key="mongo.port">27017</prop>
            </props>
        </property>
    </bean>

    <bean id="productionValues" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="authentication.salt">4e6ab01864d726077691caa0d19a2d3f</prop>
                <prop key="generator.generate.orders">0</prop>
                <prop key="generator.drop.collections">0</prop>
                <prop key="generator.generationJob.rate">0</prop>
                <prop key="mongo.db">shop</prop>
                <prop key="mongo.host">10.211.55.202</prop>
                <prop key="mongo.port">27017</prop>
            </props>
        </property>
    </bean>

    <bean id="testValues" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="authentication.salt">4e6ab01864d726077691caa0d19a2d3f</prop>
                <prop key="generator.generate.orders">0</prop>
                <prop key="generator.drop.collections">0</prop>
                <prop key="generator.generationJob.rate">0</prop>
                <prop key="mongo.db">shop</prop>
                <prop key="mongo.host">localhost</prop>
                <prop key="mongo.port">27017</prop>
            </props>
        </property>
    </bean>

    <!-- /Users/berndzuther/development/appstash/monolithic/repository/common/src/main/resources/io/github/appstash/common/repository/spring-mongo-context.xml -->
    <beans profile="default">
        <context:property-placeholder system-properties-mode="OVERRIDE"
                                      ignore-resource-not-found="false"
                                      properties-ref="defaultValues"/>
    </beans>

    <beans profile="production">
        <context:property-placeholder system-properties-mode="OVERRIDE"
                                      ignore-resource-not-found="false"
                                      properties-ref="productionValues"/>
    </beans>

    <beans profile="test">
        <context:property-placeholder system-properties-mode="OVERRIDE"
                                      ignore-resource-not-found="false"
                                      properties-ref="testValues"/>
    </beans>

</beans>
